html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family);
}

.container {
    max-width: 1256px;
    margin: 0 auto;
}

.button__primary {
    border-radius: 2px;
    box-shadow: 0 5px 15px 0 rgba(227, 184, 115, 0.2);
    background: #e3b873;
    font-style: italic;
    font-size: 11px;
    text-transform: uppercase;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: transform 0.225s ease;
}

.button__primary:active {
    transform: scaleX(0.95);
}

.logo {
    font-size: 11px;
    text-transform: uppercase;
    color: #e3b873;
}

.menu {
    display: flex;
    gap: 47px;
}

.menu__link {
    font-size: 11px;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

@media (hover: hover) {
    .menu__link:hover {
        color: #e3b873;
    }
}

.call {
    display: flex;
    align-items: center;
    gap: 45px;
}

.call__phone {
    font-size: 11px;
    text-decoration-skip-ink: none;
    color: #e3b873;
}

@media (max-width: 767px) {
    .nav {
        display: none;
    }

    .call__phone {
        color: #fff;
        text-decoration: none;
    }
}
